body{
    font-family:sans-serif, 'Times New Roman', Times, serif;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSachTy-TZ2UJlTpqkWJImweFPzIOjYSN2VmQ&usqp=CAU");
}

div{
    background-color:burlywood;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding:20px;
    max-width: 500px;
    border-radius: 10px;
    border-style: groove;
    border-color: cornflowerblue;
}

h1, h2, p{
    text-align: center;
}

hr{
    background-color: brown;
    border-color: brown;
    border-radius: 5px;
    height: 2.5px;
}

h1, h2{
    font-family: Impact;
}


.item p{
    display: inline-block;
    font-size:20;
}

.flavor, .dessert{
    text-align:left;
    width: 75%;
}

.price{
    text-align:right;
    width: 24%;
}

img{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.est{
    font-style:italic;
}
/*
.flavor, .dessert{
    text-align: left;
    width: 75%;
}

.price{
    text-align: right;
    width: 25%;
}
*/
